<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barogagi.member.login.mapper.AuthMapper">
    <select id="selectUserInfoByToken" parameterType="string" resultType="string">
        <![CDATA[
            SELECT      MEMBERSHIP_NO membershipNo
            FROM        REFRESH_TOKEN
            WHERE       TOKEN = #{refreshToken}
            AND         STATUS = 'VALID'
            AND         EXPIRES_AT >= NOW()
        ]]>
    </select>
</mapper>
