<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barogagi.plan.query.mapper.CategoryMapper">

    <!-- resultMap -->

    <!-- Select Query -->

    <select id="selectCategoryNmBy" parameterType="int" resultType="String">
        <![CDATA[
            SELECT
                    CATEGORY_NM
            FROM    CATEGORY
            WHERE   CATEGORY_NUM = #{categoryNum}
        ]]>
    </select>

    <select id="selectRandomCategoryNum" resultType="int">
        <![CDATA[
            SELECT CATEGORY_NUM
            FROM CATEGORY
            ORDER BY RAND()
                LIMIT 1
        ]]>
    </select>


</mapper>
