<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barogagi.member.login.mapper.LoginMapper">
    <select id="selectMemberCnt" parameterType="com.barogagi.member.login.vo.LoginDTO" resultType="int">
        <![CDATA[
            SELECT  COUNT(*)
            FROM    USER_MEMBERSHIP_INFO
            WHERE   USER_ID = #{userId}
            AND     PASSWORD = #{password}
        ]]>
    </select>

    <select id="myUserIdList" parameterType="com.barogagi.member.login.vo.SearchUserIdDTO" resultType="com.barogagi.member.login.vo.LoginVO">
        <![CDATA[
            SELECT  USER_ID     userId
            FROM    USER_MEMBERSHIP_INFO
            WHERE   TEL = #{tel}
        ]]>
    </select>

    <update id="updatePassword" parameterType="com.barogagi.member.login.vo.LoginDTO">
        <![CDATA[
            UPDATE  USER_MEMBERSHIP_INFO
            SET     PASSWORD = #{password},
                    UPD_DATE = NOW()
            WHERE   USER_ID = #{userId}
        ]]>
    </update>

    <select id="findMembershipNo" parameterType="com.barogagi.member.login.vo.LoginVO" resultType="com.barogagi.member.login.vo.LoginVO">
        <![CDATA[
            SELECT  MEMBERSHIP_NO membershipNo
            FROM    USER_MEMBERSHIP_INFO
            WHERE   USER_ID = #{userId}
        ]]>
    </select>
</mapper>
