<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barogagi.tag.query.mapper.TagMapper">

    <!-- resultMap -->

    <!-- Select Query -->
    <select id="selectTagByPlanNum" parameterType="int" resultType="com.barogagi.tag.query.vo.TagDetailVO">
        <![CDATA[
            SELECT
                    b.TAG_NUM as tagNum
		          , b.TAG_NM as tagNm
                  , b.TAG_TYPE as tagType
                  , b.CATEGORY_NUM as categoryNum
            FROM    PLAN_TAG a
            JOIN    TAG b ON a.TAG_NUM = b.TAG_NUM
            WHERE   a.PLAN_NUM = #{planNum};
        ]]>
    </select>

    <select id="selectTagByTagNum" parameterType="int" resultType="com.barogagi.tag.query.vo.TagDetailVO">
        <![CDATA[
        SELECT
               TAG_NUM as tagNum
             , TAG_NM as tagNm
        FROM    TAG
        WHERE   TAG_NUM = #{tagNum};
        ]]>
    </select>

    <select id="selectTagByTagType" parameterType="String" resultType="com.barogagi.tag.query.vo.TagDetailVO">
        <![CDATA[
            SELECT
                    TAG_NUM as tagNum
		          , TAG_NM as tagNm
		          , TAG_TYPE as tagType
                  , CATEGORY_NUM as categoryNum
            FROM    TAG
            WHERE   TAG_TYPE = #{tagType}
            LIMIT   10
        ]]>
    </select>

    <select id="selectTagByTagTypeAndCategoryNum" parameterType="com.barogagi.tag.dto.TagSearchReqDTO" resultType="com.barogagi.tag.dto.TagSearchResDTO">
        SELECT
                TAG_NM        AS tagNm
              , TAG_NUM       AS tagNum
        FROM    TAG
        WHERE   TAG_TYPE = #{tagType}
        <if test="categoryNum != null">
        AND     CATEGORY_NUM = #{categoryNum}
        </if>
        LIMIT 10
    </select>

</mapper>
