<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barogagi.tag.query.mapper.TagMapper">

    <!-- resultMap -->

    <!-- Select Query -->
    <select id="selectTagByPlanNum" parameterType="int" resultType="com.barogagi.tag.query.vo.TagDetailVO">
        <![CDATA[
            SELECT
                    b.TAG_NUM as tagNum
		          , b.TAG_NM as tagNm
            FROM    plan_tag a
            JOIN    tag b ON a.TAG_NUM = b.TAG_NUM
            WHERE   a.PLAN_NUM = #{planNum};
        ]]>
    </select>

    <select id="selectTagByTagNum" parameterType="int" resultType="com.barogagi.tag.query.vo.TagDetailVO">
        <![CDATA[
            SELECT
                    TAG_NUM as tagNum
		          , TAG_NM as tagNm
            FROM    TAG
            WHERE   TAG_NUM = #{tagNum};
        ]]>
    </select>
</mapper>
